<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class details</title>
    <link rel="stylesheet" href="./static/main.css">
</head>
<body>

<header>
        <img src = "./static/images/logo.png">
	</header>

    <nav>
		<ul>
            <li><a href="/coach_home">Home</a></li>
            <li><a href="/create_session?classID={{classID}}">Create a Session</a></li>
            <li><a href="/logout">Logout</a></li>
		</ul>
	</nav>
    <h1> Class: {{classID}}</h1>

<main>
{% for class in details%}

    <figure>
        <h2> Location:</h2>
        <h3>{{class[3]}}</h3>
        <h2> When: </h2>
        <h3>{{class[1]}}</h3>
        <a href="{{ url_for('attendance', sessionID=class[0])}}"><button> View Attendance </button></a>
    </figure>

{% endfor %}


</main>
   </body>
</html>