<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
   <link rel="stylesheet" href="./static/main.css">
</head>
<body>
<header>
        <img src = "./static/images/logo.png">
	</header>


<main>

      <figure>
         <h1>Reset Password</h1>
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
      <form name="form1" action = "{{ url_for('reset_pass') }}" method = "POST">
         <br>

         New Password<br>
         <input type="password" min=8 name="password"/><br><br>
          Note: Please enter your new password before continuing with the system
          <input type="hidden" name="userID" value="{{ userID }}"/>
          <input type="hidden" name="role" value="{{ role }}"/>
          <br>
         <input type = "submit" value = "Update Password" />
      </form>
         </figure>
</main>
   </body>
</html>